body, html, header, div, span, h1, h2, h3, h4, h5, h6, button, nav, section, aside, footer, p, strong, input, label, ul, li, form {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    background: rgba(210,255,82, 0.5); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,255,82,1)), color-stop(100%,rgba(145,232,66,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
}
#clock {
    text-align: right;
    margin-right: 100px;
    margin-bottom: 5px;
    color: #603382;
    font: 1.1em Helvetica, serif;
}
body header {
    padding: 10px 15px 10px 15px;

}
    body header div div h1 a img {
        width: 120px;
        margin-top: -20px;
    }

            body header div#header-wrapper div#logo-wrapper {
                position: relative;
                float: left;
    }
            body header nav {
                display: inline-block;
                width: 64%;
                margin: 15px 20px 20px 20px;
                padding: 12px;
                border: 1px solid black;
                border-radius: 9px;
            }
                body header ul {
                    list-style-type: none;
                }
                    body header nav ul li {
                        float: left;
                        margin: 5px;
                    }
                        body header nav ul li a {
                            text-decoration: none;
                            padding: 5px;
                            margin: 10px 5px 10px 10px;
                            color: #603382;
                            font: 1.4em normal Arial;
                        }
                            body header nav ul li a:visited {
                                text-decoration: none;
                                padding: 0;
                                color: darkgreen;
                            }
                                body header nav ul li:hover > a {
                                    text-decoration: underline;
                                    color: #603382;
                                }

                                    body header nav ul li:hover > a + ul {
                                        display: block;
                                        text-align: center;
                                    }

                                        body header nav ul li ul {
                                            position: absolute;
                                            display: none;
                                            background-color: rgba(179, 94, 243, 0.9);
                                            border-radius: 5px;
                                        }
                                            body header nav ul li ul li {
                                                position: relative;
                                                float: none;
                                                padding: 2px;
                                                margin: 1px;
                                                }

            body section {
                width: 75%;
                color: black;
                margin-top: 15px;
                margin-left: 150px;
            }
                body section article {
                    margin: 5px;
                    padding: 10px;
                    border: 1px solid rgba(129, 55, 102, 0.2);
                    border-radius: 10px;
                }
                    body section article header {
                        padding: 5px;
                        margin: 5px;
                    }
                        body section article header h1 {
                            font-size: 1.4em;
                            padding: 0;
                        }

            body div#imgBar span img#ChangeImg {
                padding-right: 60px;
                margin-top: -170px;
                float: right;
            }

             body aside {
                 width: 7%;
                 margin: 15px;
                 margin-top: -340px;
                 border: 1px solid rgba(129, 55, 102, 0.2);
                 border-radius: 10px;
                 float: left;
             }
                body aside  ul {
                    list-style-type: none;
                }
                    body aside ul h2 {
                        text-align: center;
                    }
                        body aside ul li a {
                            text-decoration: none;
                            color: #603382;

                        }
                            body aside ul a:visited {
                                text-decoration: none;
                                padding: 0;
                                color: darkgreen;
                            }
                                body aside ul a:hover {
                                    text-decoration: underline;
                                    color: #603382;
                                }

             body footer {
                 margin: 5px 0 10px 0;
                 padding: 10px 0 20px 0 ;
             }

                    body footer ul li{
                        list-style-type: none;
                        position: relative;
                        display: inline-block;
                        float: left;
                        left: 630px;
                        text-align: center;
                    }
                        body footer ul li a {
                            text-decoration: none;
                            padding: 15px;
                        }